:root{
    /* Colors */
    --white: #FFFFFF;
    --off-white: #F2F5F9;
    --navy: #111729; 
    --gray: #4A5567;

    /* Font Sizing */
    --title: 1.5rem;
    --body: 1rem;
    --small-text: 1rem;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--off-white);
    height: 100dvh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin: 0px 72px;
}

/* Font Setup */
.title{
    font-family: "Poppins", sans-serif;
    font-size: var(--title);
    color: var(--navy);
    font-weight: 600;
    margin-bottom: 10px;
}

p{
    font-family: "Lato", sans-serif;
    font-size: var(--body);
}

.description{
    color: var(--gray);
}

.author{
    color: var(--navy);
    font-family: "Lato", sans-serif;
    font-size: var(--body);
}

.occupation{
    color: var(--gray);
}

/* Card styling */

.card{
    position: relative;
    height: fit-content;
    width: 360px;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.068);

    grid-column: 1 / span 12;
    margin: 164px auto 0px auto;
}

/* Hero Image */
.img-wrapper{
    position: relative;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
}

.hero-img{
    width: 100%;
}

.overlay{
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Card Content */

.card-content{
    margin: 20px 16px;
}


/* Footer */

hr{
    border: .2px solid rgb(219, 219, 219)
}

.footer{
    margin: 20px 16px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.author{
    font-weight: 900;
}

.avatar{
    border-radius: 50%;
    height: 50px;
}

/* Copyright */
#copyright{
    grid-column: 1 / span 12;
    margin: 0px auto;
    color: #111729;
    font-family: "Lato", sans-serif;
}

/* Responsiveness */
@media screen and (max-width: 425px) {
    body{
        grid-template-columns: repeat(4, 1fr);
        gap: 0px;
        margin: 0px 10px;
    }

    .card{
        width: 100%;
        grid-column: 1 / span 12;
    }
}

